body {
    background: url(images/coffee-red.jpg) no-repeat center center fixed;
    background-size: cover;
    font-family: 'Abril Fatface', cursive;
}
.rowHeight {
    height: 500px;
}
h1 {
    color: black;
    font-size: 2.5em;
}
.bg {
    background-color: #c1c1c1;
    opacity: 0.8;
}
.footer {
    background-color: #fff;
    position: fixed;
    bottom: auto;
}
p {
    font-size: 15px;
    padding: 10px;
}